body{
    margin: 65px 20px 10px 76px;
}

.activeMenu{
    background-color: #99fccc;
}

.h100P{
    height: 100%;
}

.quickExplore{
    margin-bottom: 20px;
    margin-top: 8px;
}

.quickExplore span{
    margin-right: 10px;
}

.w300{
    width: 280px;
    height: 354px;
    float: left;
    margin-right: 20px;
}

.panel-body .preview {
    text-align: center;
}

.panel-body .inner {
    line-height: 14px;
    margin-top: 9px;
    margin-left: 5px;
}

.panel-body .inner .price{
    font-size: 22px;
    font-weight: bold;
}

.authors{
    padding-bottom: 9px;
}

.bookView{
    border-collapse: collapse;
}

.bookView td {
    padding: 5px 15px 5px 5px;
    vertical-align: top;
}

.bookView td div.tdRight{
    margin-top: -20px;
}

.clGreen{
    color: forestgreen;
}

.clRed{
    color: darkred;
}

#toNotifyAboutPresence{
    font-style: italic;
}

.clGray{
    color: grey;
}

.userActionButton{
    margin-top: 8px;
    position: absolute;
}

.ua1{
    right: 150px;
}

.ua2{
    right: 225px;
}

.ua3{
    right: 235px;
}

.w400{
    max-width: 550px;
}

.alCenter {
    margin: 0 auto;
}

.error {
    color: red;
    margin-left: 10px;
    font-size: 12px;
}

.nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color:#ADFEFF;}

#groupTabs > li > a {
    cursor: pointer;
}

.publication{
    width: 500px;
    height: auto;
    max-height: 400px;
    border: 1px solid #C9C9C9;
    border-radius: 3px 3px 0 0;
}

.comments .add{
    margin: 0 0 7px 7px;
}

.comments .add textarea{
    font-size: 12px;
    width: 484px;
    height: 50px;
    border: 1px solid #E4E4E4;;
}

.addNewEntity{
    border: 1px solid #C9C9C9;
    border-radius: 3px 3px 0 0;
    width: 500px;
    margin-bottom: 2px;
    margin-top: -4px;
}

.addNewEntity textarea{
    width: 500px;
    height: 60px;
    border: none;
    border-right: 1px solid #C9C9C9;
    border-radius: 3px;
}

#addRecord{
    font-size: 14px;
}

.comment{
    width: 484px;
    margin: 0 7px 7px 7px;
    height: 70px;
    border: 1px solid #E4E4E4;
}

.comments{
    height: auto;
    width: 500px;
    border: 1px solid #C9C9C9;
    border-top: none;
    padding-top: 7px;

}

.userIcon{
    width: 48px;
    height: 48px;
    background: url("/public/img/user.png");
    padding: 3px;
    margin: 10px 0 0 10px;
}

.publication hr{
    width: 100%;
    height: 1px;
    background: #C9C9C9;
    margin: 5px 0 7px;
}

#addRecord > a{
    color: #333;
    cursor: pointer;
}

#addRecord > a:hover{
    text-decoration: none;
}

.body{
    float: right;
    width: 407px;
    margin-right: 9px;
    margin-top: -55px;
}

.comment .body .created{
    font-size: 12px;
    color: gray;
}

.body p{
    font-size: 12px;
}

.content{
    padding: 8px 8px 6px 8px;
}

.comment a {
    font-size: 12px;
    color: gray;
    margin-right: 10px;
    margin-top: -7px;
    cursor: pointer;
}

.comment a.num{
    margin-left: -5px;
    color: #f44;
}

.comment div.action{
    margin-top: -6px;
}

.comment .author{
    /*color: inherit;*/
}

.extra{
    width: 500px;
    height: 62px;
    padding: 0 8px 0 8px;
}

.extra span, .extra p{
    font-size: 14px;
}

div#surface div{
    font-size: 14px;
}

p.created > span{
    color: grey;
    font-style: italic;
}

.abs{
    position: absolute;
}

p.totalComments > span{
    font-style: italic;
}

p.totalComments{
    margin: -31px 0 0 215px;
}

.addLike, .addRePost, .addComment, .reviews{
    cursor: pointer;
    position: relative;
}

.likesCount, .rePostsCount, .commentsCount, .reviewsCount{
    max-width: 24px;
    position: relative;
}
.extra a{
    cursor: pointer;
    color: black;
}
.extra a:hover{
    text-decoration: none;
}
/*****************/
.addLike{
    width: 24px;
    height: 24px;
    background: url("/public/img/like.png");
    top: -2px;
}

.likesCount{
    left: 32px;
    top: -20px;
}

.addRePost{
    width: 24px;
    height: 24px;
    background: url("/public/img/share.png");
    top: -44px;
    left: 70px;
}

.rePostsCount{
    left: 104px;
    top: -65px;
}

.addComment{
    width: 24px;
    height: 24px;
    background: url("/public/img/comment.png");
    top: -87px;
    left: 140px;
}

.commentsCount{
    left: 174px;
    top: -110px;
}

.reviews{
    width: 24px;
    height: 24px;
    background: url("/public/img/viewed_count.png");
    top: -130px;
    left: 210px;
}

.reviewsCount{
    left: 244px;
    top: -153px;
}