body{
    margin: 65px 20px 10px 76px;
}

.activeMenu{
    background-color: #99fccc;
}

.h100P{
    height: 100%;
}

.quickExplore{
    margin-bottom: 20px;
    margin-top: 8px;
}

.quickExplore span{
    margin-right: 10px;
}

.w300{
    width: 280px;
    height: 354px;
    float: left;
    margin-right: 20px;
}

.panel-body .preview {
    text-align: center;
}

.panel-body .inner {
    line-height: 14px;
    margin-top: 9px;
    margin-left: 5px;
}

.panel-body .inner .price{
    font-size: 22px;
    font-weight: bold;
}

.authors{
    padding-bottom: 9px;
}

.bookView{
    border-collapse: collapse;
}

.bookView td {
    padding: 5px 15px 5px 5px;
    vertical-align: top;
}

.bookView td div.tdRight{
    margin-top: -20px;
}

.clGreen{
    color: forestgreen;
}

.clRed{
    color: darkred;
}

#toNotifyAboutPresence{
    font-style: italic;
}

.clGray{
    color: grey;
}

.userActionButton{
    margin-top: 8px;
    position: absolute;
}

.ua1{
    right: 150px;
}

.ua2{
    right: 225px;
}

.ua3{
    right: 235px;
}

.w400{
    max-width: 550px;
}

.alCenter {
    margin: 0 auto;
}

.error {
    color: red;
    margin-left: 10px;
    font-size: 12px;
}

.nav>li>a:focus,.nav>li>a:hover{text-decoration:none;background-color:#ADFEFF;}